<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
	<title>Productos</title>
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../Styles/style.css">
	<link
		href="https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<ul class="nav">
				<li class="nav-item dropdown">
					<a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="acercade.html">Acerca de</a>
				</li>

				<li class="nav-item ">
					<a class="nav-link" href="productos.html">Productos</a>
				</li>
			</ul>
		</nav>
		<div class="cover d-flex justify-content-center align-items-center flex-column">
			<h1>Productos De La Peña</h1>
			<p>café de calidad</p>
			<button class="btn btn-primary">Conoce más</button>
		</div>
	</header>
	<p></p>
	<p>

	</p>
	<header>
		<center>
			<h1>CONOCE NUESTROS PRODUCTOS</h1>
		</center>
	</header>
	<section>
		<div class="container mt-5 mb-5">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
					<div class="card">
						<img title=" planta en la tierra" class="cover cover-small"
							src="../Resources/img/clay-banks-tgquMvhNLc4-unsplash.jpg">
						</img>
						<div class="card-body">
							<h5 class="card-title fw-bold">Nuestra tienda en linea</h5>
							<h5 class="card-title fw-bold">Formas de pago</h5>
							<p class="fst-italic card-text">botón pse, nequi, davi plata.</p>
							<a href="cafe.html">ver mas</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
					<div class="card">
						<img title="taza de café y granos de café en un costal" class="cover cover-small"
							src="../Resources/img/viktor-forgacs-LNwIJHUtED4-unsplash.jpg">
						</img>
						<div class="card-body">
							<h5 class="card-title fw-bold">Punto fisico</h5>
							<p class="fst-italic card-text">Ven y disfruta nuestros productos.</p>
							<a href="puntofisico.html">ver mas</a>
						</div>
					</div>
				</div>
	</section>
	<footer id="footer">
		<div class="container text-center">
			<p>&copy; <a href="#">Café de la peña.</a> Todos los derechos reservados.</p>
		</div>
</body>

</html>